* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Hero section editing */

.hero_section {
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(eduford_img/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  width: 100%;
}  

nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 6%;
  align-items: center;  
}

nav img {
  width: 50%;
}

.nav-items {
  flex: 1;
  text-align: right;
}
.nav-items ul li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-items ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
.nav-items ul li::after {
  content:'';
  background: #f44336;
  display: block;
  width: 0%;
  height: 2px;
  margin: auto;
  transition: 0.5s;
}

.nav-items ul li:hover::after {
  width: 100%;
}

.hero-texts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 90%;
  color: #fff;
  
}
.hero-texts h1{
  font-size: 62px;
  letter-spacing: 2px;
}
.hero-texts p{
  font-size: 14px;
  margin: 10px 0 40px; 
}
.hero-texts a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: transparent;
  border: 1px solid #fff;
  padding: 10px 20px;
}
.hero-texts a:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}
nav .bi {
  display: none;
}

/* Course section style */

.course {
  width: 80%;
  padding-top: 100px;
  margin: auto;
  text-align: center;
}
.course h1 {
  font-size: 35px;
  font-weight: 600;
}
.course p {
  font-size: 14px;
  font-weight: 300;
  color: #777;
  line-height: 22px;
  padding-bottom: 30px;
}
.course-container{
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.course-boxes {
   flex-basis: 32%; /* flex-basis or width */
   background: #fff3f3;
   box-sizing: border-box;
   border-radius: 0 30px 0 0;
   margin-bottom: 5%;
   padding: 20px 20px;
   transition: .7s ease;
}
.course-boxes h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-boxes:hover {
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  cursor:pointer;
}







/* Media Query Section for all kind of elements Start */

@media (max-width: 1440px) {
  .hero-texts h1{
    font-size: 62px;
  }

}
@media (max-width: 768px) {
  .hero-texts h1{
    font-size: 40px;
  }
  
}
@media (max-width: 480px) {
  .hero-texts h1{
    font-size: 22px;
  }

  /* design for the off-canvas menu for mobile screen Start*/
  
  .nav-items ul li {
    display: block;
  }
  .nav-items {
    position:absolute;
    background:#f44336;
    height: 100vh;
    width: 200px;
    right: -200px;
    top: 0;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .nav-items ul {
    padding: 20px 0 0 0;
    text-align: center;
  }
  nav .bi {
    display: block;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    
  }
  
  /* design for the off-canvas menu for mobile screen End*/

}

/* Media Query Section for all kind of elements End */